html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    color: #394048;
    background: #ffffff;
}

.topbar-main {
    background: #394048;
    padding-bottom: 10px;
}

.card-box {
    background-color: #f7f7f7;
}

.subscription {
    text-align: center;
    background-color: #ffffff !important;
    border-radius: 12px;
    overflow: hidden;
}

.subscription ul {
    text-align: right;
    height: unset;
    max-height: unset;
    list-style: none;
}

.subscription ul li {
    min-height: 2em;
}

.subscription.seeless ul {
    min-height: 4em !important;
    max-height: 4em !important;
    overflow: hidden;
}

.subscription .card-body {
    padding: 1em 3em;
}

.card-header,
.card-footer {
    background-color: #ffffff !important;
}

.subscription .fees {}

.subscription .fees span:first-of-type {
    color: #d82425;
    font-size: 20pt;
}

.subscription .fees span:last-of-type {
    font-size: 10pt;
}

.subscription button.subscription-button {
    background-color: #d82425 !important;
    color: #f7f7f7;
}

.footer {
    background: #394048 !important;
    border-top: 1px solid rgba(57, 64, 72, 0.2) !important;
    /* color: #f7f7f7 !important; */
    position: relative;
    margin-bottom: 0;
    bottom: -75px;
}

.footer-list-group {
    list-style: none;
    direction: rtl;
    text-align: right;
}

.footer-list-item .footer-list-item-header {
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer-list-item {
    border-bottom: 1px solid #98a6ad;
}

.footer-list-item:last-child {
    border-bottom: 0px;
}

.footer-list-item .footer-list-item-header .icon {
    float: left;
    padding-top: 5px;
}

.btn-contact-us {
    color: #98a6ad !important;
}

.btn-subscribe {
    background-color: #d82425 !important;
    color: #f7f7f7;
    margin: 13px 5px 0 5px;
}

.btn-bars {
    color: #f7f7f7;
    margin: 13px 5px 0 0px;
}